langchain
python-dotenv
unstructured
tiktoken
faiss-cpu
libmagic
python-magic
python-magic-bin
torch
pyttsx3
opencv-python
pillow
pytesseract
transformers
requests
duckduckgo-search
scikit-learn
moviepy
